# IDE management
.idea/
*.code-workspace
.venv

# python
*.pyc
**/__pycache__/
.env

# cpp
*.out
*.err
*.exe
a.out
*.o

# editor buffers
*~

generate/*.json
drivers/*.json
prompts/*.json

# local data
/models
scratch/
saved/