# IDE management
.idea/
*.code-workspace
.venv*
venv*

# python
*.pyc
**/__pycache__/
.env

# cpp
*.out
*.err
*.exe
a.out
*.o

# editor buffers
*~

generate/**/*.json
drivers/**/*.json
prompts/**/*.json
**/logs/

# local data
/models
scratch/
**/artifacts/